.card {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background-color: var(--background);
    transition: var(--transition-fast);
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--color-grey);
    background-color: var(--background-light);
}

.image {
    height: 300px;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--background-light);
}

.image .img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
}

.content {
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.title {
    font-size: var(--font-size-md);
    font-weight: 700;
    color: var(--foreground);
}

.description {
    margin-top: 5px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground-light);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* numero di righe */
    -webkit-box-orient: vertical;
    overflow: hidden;
}