.card {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 300px 1fr;
    align-items: stretch;
    background-color: var(--background);
    transition: var(--transition-fast);
}

.card:hover {
    transform: translateY(-10px);
    background-color: var(--background-light);
}

.image {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--background-light);
}

.image .img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: top;
}

.content {
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name {
    font-size: var(--font-size-md);
    font-weight: 700;
    color: var(--foreground-dark);
}

.description {
    height: 100%;
    flex: 1;
    margin-top: 10px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground-light);
}

.link {
    display: inline-block;
    margin-top: 20px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground);
    text-decoration: underline;
    transition: var(--transition-fast);
}

.noLink {
    display: inline-block;
    margin-top: 20px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground);
}

.link:hover {
    cursor: pointer;
    color: var(--color-primary);
}