.button {
    height: 50px;
    width: auto;
    padding: 0 25px;
    border: 0;
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    font-weight: 500;
    transition: var(--transition-fast);
}

.button:disabled {
    opacity: .6;
}

.button.primary {
    color: #fff;
    background-color: var(--color-primary);
}

.button.primary:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
}

.button.grey {
    color: var(--foreground);
    background-color: var(--color-grey);
}

.button.grey:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--color-grey-dark);
}