.post {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 50px auto;
    border-radius: var(--border-radius);
    animation: var(--animation-slide-down);
    background-color: var(--background);
}

.info {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: var(--font-size-sm);
    font-weight: 300;
    color: var(--foreground);
}

.info .separator {
    font-size: var(--font-size-sm);
    color: var(--foreground-light);
}

.post h1 {
    margin-bottom: 20px;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--color-primary);
}

.post h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--foreground);
}

.post h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--foreground);
}

.post h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--foreground);
}

.post h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--foreground);
}

.post p,
.post ul,
.post ol {
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--foreground-light);
}

.post ul,
.post ol {
    padding-left: 22px;
}

.post ul li,
.post ol li {
    margin-bottom: 8px;
}

.post ol li::marker {
    font-weight: 500;
    color: var(--foreground);
}

.post ul li:last-of-type,
.post ol li:last-of-type {
    margin-bottom: 0;
}

.post a {
    font-weight: 500;
    color: var(--color-primary);
}

.post img {
    width: 100%;
    border-radius: var(--border-radius);
}

.post table {
    width: 100%;
    border-spacing: 0;
}

.post table th {
    padding: 15px;
    text-align: left;
    font-size: .8rem;
    font-weight: 500;
    color: var(--foreground);
    background-color: var(--background-light);
}

.post table td {
    padding: 15px;
    text-align: left;
    font-size: .8rem;
    font-weight: 300;
    color: var(--foreground-light);
    background-color: var(--background-color);
    transition: var(--transition-fast);
}

.post table tbody tr td {
    border-bottom: 1px solid var(--color-grey);
}

.post table tbody tr:last-child td {
    border: 0;
}

.post table tbody tr:hover td {
    background-color: var(--color-grey);
}

.post code {
    width: 100%;
    max-width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    background-color: #333;
}

.post pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.post hr {
    height: 1px;
    border: 0;
    margin: 20px 0;
    background-color: var(--color-grey);
}

.post * strong {
    color: var(--foreground);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .post {
        max-width: calc(100dvw - 40px);
        margin-bottom: 0;
    }

    .post table {
        display: block;
        /* Trasforma la tabella in un elemento blocco */
        overflow-x: auto;
        /* Abilita lo scroll orizzontale */
        white-space: nowrap;
        /* Impedisce il wrapping del testo per mantenere la struttura */
        max-width: 100%;
    }
}