.posts {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.posts a {
    color: inherit;
    text-decoration: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}