.hero {
  height: auto;
  width: 100%;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
}

.hero .container {
  height: auto;
  width: 100%;
  animation: var(--animation-slide-down);
}

.hero .container .title {
  font-size: var(--font-size-xxl);
  font-weight: 900;
}

.hero .container .title strong {
  color: transparent;
  background: var(--color-primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.hero .container .hello {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--foreground-dark);
}

.hero .container .role {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--foreground-dark);
}

.hero .gallery {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}

.hero .image {
  height: auto;
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
  background-color: var(--background-light);
  animation: var(--animation-slide-down-slow);
}

.hero .image::before {
  content: '';
  padding-bottom: 100%;
  display: block;
}

.hero .image img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
}

/* Tecnologie */
.technologies {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: var(--animation-slide-down);
}

/* Lavori */
.works {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Timeline */
.timeline {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  animation: var(--animation-slide-down);
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .technologies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .technologies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 20px 0;
    grid-template-columns: 1fr;
  }

  .hero .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero .container .title {
    font-size: var(--font-size-xl);
  }

  .hero .container .hello,
  .hero .container .role {
    font-size: var(--font-size-md);
  }

  .technologies {
    grid-template-columns: repeat(2, 1fr);
  }
}